.modal-content{
    width: 400px;
    margin: 0 auto;
    .modal-title{
        color: #3A1078;
    }
    .btn-close{
        color: #3A1078;
        border: 1px solid;
    }

    .modal-body{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        div{
            width: 100%;
        }
        .file-field{
            height: 40px;
        }
    }
}