<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-s0gs8RkUtBC2IUHb2tYNpxuTpqsd4Fg7O5AQvBB5+V5EvBwOJ7SR7sJW+dJsQIdj5DyP4K1sftPkbGu53yB7Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="about">
      <div class="about-title">
        <h1>About CareToShare</h1>
        <h5>
          WE ENSURE THAT YOUR DONATIONS ARE DELIVERED SAFELY AND SECURELY TO THE
          CAMPAIGNS YOU CARE ABOUT
        </h5>
      </div>
      <p>
        Welcome to CareToShare, a cutting-edge online platform that connects
        donors with charitable organizations world wide. Our mission is to make
        positive impact in communities by facilitating seamless and secure
        donations,empowering individuals and organizations to create a lasting
        change.
      </p>
      <p>
        At CareToShare, we believe in the power of generosity and the potential
        for individuals and businesses to come together to address pressing
        social and environmental challenges. Our platform serves as a bridge,
        bringing together donors and nonprofits in a user-friendly and efficient
        ways
      </p>
    </section>

    <div class="company-brand">
      <div class="brand-title">
        <h2 class="brand-heading">
          Trusted by thousands of organizations, <br />schools and churches
        </h2>
        <ul class="brand-lists">
          <li><i class="fas fa-check"></i>SECURE FORMS & CAMPAIGN PAGES</li>
          <li><i class="fas fa-check"></i>EASY TO SIGN-UP</li>
          <li><i class="fas fa-check"></i>DIVERSE CHARITABLE ORGANIZATIONS</li>
          <li><i class="fas fa-check"></i>PERSONALIZED PROFILES</li>
          <li><i class="fas fa-check"></i>FUNDRAISING CAMPAIGNS</li>
          <li><i class="fas fa-check"></i>IMPACT TRACKING</li>
          <li><i class="fas fa-check"></i>SOCIAL ENGAGEMENT</li>
          <li><i class="fas fa-check"></i>MOBILE ACCESSIBILITY</li>
        </ul>
      </div>
    </div>

    <section class="impact-statistics">
      <div class="statistics-container">
        <h2>Impact Statistics</h2>
        <div class="statistic">
          <h3>Clients Reached</h3>
          <p>5000+</p>
        </div>
        <div class="statistic">
          <h3>Donations Received</h3>
          <p>7500+</p>
        </div>
        <div class="statistic">
          <h3>Charity Organizations Reached</h3>
          <p>100+</p>
        </div>
      </div>
    </section>
    <div class="support">
      <div class="contact-support">
        <h2 class="contact-header">
          We are here to help impact makers <br />reach their destinations
        </h2>
        <p>
          Our in-house support,developers,strategists will make sure you don't
          campaign alone
        </p>
        <div class="contact-link">
          <a href="#">Contact Our Support Team</a>
        </div>
      </div>
    </div>

    <!-- ======= Team Section ======= -->
    <section
      class="team"
      data-aos="fade-up"
      data-aos-easing="ease-in-out"
      data-aos-duration="500"
    >
      <h2 class="team-header">Team Members</h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="images/bright.jpeg" class="img-fluid" alt="" />
                <div class="social">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Andrews Yeboah</h4>
                <span>Project Manager/Full Stack Developer</span>
                <p>
                  Animi est delectus alias quam repellendus nihil nobis dolor.
                  Est sapiente occaecati et dolore. Omnis aut ut nesciunt
                  explicabo qui. Eius nam deleniti ut omnis repudiandae
                  perferendis qui. Neque non quidem sit sed pariatur quia modi
                  ea occaecati. Incidunt ea non est corporis in.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="images/bright.jpeg" class="img-fluid" alt="" />
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Bright Adu Kwarteng snr</h4>
                <span>Backend Developer/Data Scientist</span>
                <p>
                  Aspernatur iste esse aliquam enim et corporis. Molestiae
                  voluptatem aut eligendi quis aut. Libero vel amet voluptatem
                  eos rerum non doloremque. Dolores eum non.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="images/bright.jpeg" class="img-fluid" alt="" />
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Enoch Opoku Sarkodie</h4>
                <span>Full Stack Developer</span>
                <p>
                  Ut enim possimus nihil cupiditate beatae. Veniam facere quae
                  non qui necessitatibus rerum eos vero. Maxime sit sunt quo
                  dolor autem est qui quaerat aliquid. Tenetur possimus qui
                  enim.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Team Section -->
  </body>
</html>
