<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>welcome</title>
</head>
<body >
    <div class="container">
        <form action="#" >  
            <h1>Welcome</h1>
                <h4>A faster way to take attendance</h4>
                    <div class="call-actions">
                        <a href="form.html" class="action-btn">Registration code </a>
                        <a href="generate.html" class="action-ghost-btn">Attendance code</a>
                    </div>
        </form>
    </div>
</body>
</html>